.contenedor-listaDesplegable {
    height: 100%;
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0000;
}

.container-listaDesplegable {
    width: 100%;
    /* max-width: 460px; */
}


.contenedor-listaDesplegable .header-listaDesplegable {
    width: 100%;
    height: auto;
    min-height: 60px;
    border-radius: 8px 8px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: #0C5380;
}

.contenedor-listaDesplegable .contenido-listaDesplegable {
    /* width: 95%;
    height: auto; */
    width: 100%;
    border-radius: 0 0 8px 8px;
    background: #0C5380;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: 70%;
    margin-bottom: 1rem;

}

.contenedor-listaDesplegable .contenido-listaDesplegable .container-listaDesplegable {
    height: 100%;
    max-height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}


/* responsive  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    
.contenedor-listaDesplegable-2 {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-listaDesplegable-2 .show{
    /* height: auto; */
    height: 300px;
    opacity: 1;
    width: 95%;
}


.container-listaDesplegable-2 {
    width: 100%;
    max-width: calc(100% - 10px);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: scroll;
}

}
