.contenedor-listaDesplegable {
    height: 60%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0000;
}

.container-listaDesplegable {
    width: 100%;
    /* max-width: 460px; */
}


.contenedor-listaDesplegable .header-listaDesplegable {
    width: 100%;
    height: auto;
    min-height: 60px;
    border-radius: 8px 8px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: #0C5380;
}

.contenedor-listaDesplegable .contenido-listaDesplegable {
    /* width: 95%;
    height: auto; */
    width: 100%;
    border-radius: 0 0 8px 8px;
    background: #0C5380;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: 100%;
    margin-bottom: 1rem;

}

.contenedor-listaDesplegable .contenido-listaDesplegable .container-listaDesplegable {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}


