#contenedor-general-textslider {
    -webkit-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75);
}

.btn-textslider-1 {
    border-radius: 10px;
    border: 2px solid #E34956;
    transition: all 0.3s ease-in-out;
    width: calc((100%/4)-5px);
}
.btn-textslider-1:hover {
    background: #ec838c;

}
.btn-textslider-2 {
    border-radius: 10px;
    border: 2px solid #70AE47;
    width: calc((100%/4)-5px);
}
.btn-textslider-2:hover {
    background: #b2d69a;
}
.btn-textslider-3 {
    border-radius: 10px;
    border: 2px solid #EE7D30;
    width: calc((100%/4)-5px);
}
.btn-textslider-3:hover {
    background: #f4ab7b;
}
.btn-textslider-4 {
    border-radius: 10px;
    border: 2px solid #982B52;
    width: calc((100%/4)-5px);
}
.btn-textslider-4:hover {
    background: #d77094;
}



.txt-btn-textSlider {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;

}

.contenedor-general-resumen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contenedor-general-resumen .parte-arriba {
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

.parte-arriba .card-noInfo {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px grey solid;
    border-radius: 10px;
}

.parte-arriba .card-noInfo .cardHeader-noInfo {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 15px;
    color: #0C5380;
}

.parte-arriba .card-noInfo .cardBody-noInfo {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 15px;
    color: #6088A5;

}

.contenedor-general-resumen .parte-abajo{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: space;
    justify-content: flex-end;
}




