
.btn-textslider-1 {
    border-radius: 50px;
    border: 2px solid #E34956;
    transition: all 0.3s ease-in-out;
}
.btn-textslider-1:hover {
    background: #ec838c;
}
.btn-textslider-2 {
    border-radius: 50px;
    border: 2px solid #70AE47;
}
.btn-textslider-2:hover {
    background: #b2d69a;
}
.btn-textslider-3 {
    border-radius: 50px;
    border: 2px solid #EE7D30;
}
.btn-textslider-3:hover {
    background: #f4ab7b;
}
.btn-textslider-4 {
    border-radius: 50px;
    border: 2px solid #982B52;
}
.btn-textslider-4:hover {
    background: #d77094;
}



.txt-btn-textSlider {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;

}

.contenedor-general-resumen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contenedor-general-resumen .parte-arriba {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-general-resumen .parte-abajo{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: space;
    justify-content: flex-end;
}