.contenedor-general-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}


.contendor-general-tarjeta {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contendor-general-tarjeta .tarjeta-maestra {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    border-radius: 30px;
    box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
}
