.boton-general-encabezado {
    width: 90%;
    height: 12%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.boton-general-encabezado .contenedor-interno-botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #ffff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 5px;
    color: #000;
    border-radius: 5px;

}


.boton-general-normal {
    width: 90%;
    height: 12%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ffff;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.boton-general-normal .contenedor-interno-botones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: #ffff;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 5px;
    color: #000;
    border-radius: 5px;
    
}
