.contenedor-botones-general {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-botones-general .contenedor-botones {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.contenedor-botones .contenedor-izq {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-botones .contenedor-der {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}