.contenedor-general-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.contendor-PerfilInfo{
    height: 95%;
    width: 95%;
    background: #ffff;
    border-radius: 30px;
    box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    flex-direction: column;
    overflow-y: scroll;
    min-height:  95%;
    padding-left: 10%;
    
    
}

.contenedor-BillAmount-HyM{
    display: flex;
    height: 25%;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    flex-direction: row;
    min-height:  25%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.contenedor-TableLines{
    display: flex;
    height: 70%;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    flex-direction: row;
    min-height:  70%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.contenedor-GananciaLinea{
    display: flex;
    height: 20%;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    min-height:  25%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}