.contenedor-general-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contendor-general-tarjeta {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.contendor-general-tarjeta .tarjeta-maestra {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    border-radius: 30px;
    flex-direction: row;
    box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    overflow-y: scroll;
}

.contenedor-texto-header {
    width: 100%;
    height: 15%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
    font-size: 1.6rem;
}

.txt-header-percentages {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: bolder;
}

.normal {
    color: #E34956;
}

.bajo {
    color: #70AE47;
}
.medio {
    color: #EE7D30;
}

.alto {
    color: #982B52;
}

.contenedor-BillAmount-HyM{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 50%;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-BillAmount-HyM .encabezado-contenedor-BillAmount-HyM {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;

}

.contenedor-BillAmount-HyM .contenido-contenedor-BillAmount-HyM {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.contenedor-TableLines{
    display: flex;
    height: 50%;
    min-height: 150px;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contenedor-GananciaLinea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    padding: 25px;
    background: rgb(187, 187, 187);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-GananciaLinea .encabezado-contenedor-GananciaLinea {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.contenedor-GananciaLinea .contenido-contenedor-GananciaLinea {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor-boton{
    display: flex;
    height: 13%;
    width: 80%;
    padding: 25px;
    border-radius: 30px;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.Contenedor-boton .btn-subir{
    height: 3em;
    width: 100%;
}