.contenedor-general-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


.contendor-general-tarjeta {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contendor-general-tarjeta .tarjeta-maestra {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    border-radius: 30px;
    flex-direction: row;
    box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 38px -10px rgba(0,0,0,0.75);
}



.contendor-general-tarjeta .tarjeta-maestra .contenedor-der-pantalladiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    flex-direction: column;
}


.contendor-general-tarjeta .tarjeta-maestra .contenedor-der-pantalladiv .contendeor-PieChart{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contendor-general-tarjeta .tarjeta-maestra .contenedor-der-pantalladiv .contenedor-porcentaje{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;

}

.contendor-general-tarjeta .tarjeta-maestra .contenedor-der-pantalladiv .contenedor-porcentaje .texto-porcentaje{
    display: block;
    bottom: 10px;
}

.contendor-general-tarjeta .tarjeta-maestra .contenedor-izq-pantalladiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}