#form-file-upload {
    height: 80%; 
    width: 90%;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #f8fafc;
    background-image: url("/src/Assets/Images/backgroundUploadFiles.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    cursor: pointer;

}

#label-file-upload.drag-active {
    background-color: #ffffff;
}

#contenedor-texto {
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}